<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sun</title>
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
  </head>
  <body>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>

  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    $('form').submit(function(){
      socket.emit('input', $('#m').val());
      $('#m').val('');
      return false;
    });
  </script>
</html>
